<ion-content padding>
    <div class="upper" style="background-color: #71E8E8; display:flex;">
        <ion-searchbar style="float:left;width: 55%; padding:6px;" placeholder="검색,즐겨찾기추가" (click)="main();" [(ngModel)]="startPoint" clearInput></ion-searchbar>
        <button style="background-color:#71E8E8;" (click)="NoneAd()"><img src="./assets/imgs/004-버튼-PPT 3페이지의 이미지의 상단 가운데-광고금지.png" style="width:25px;"></button>
        <button style="background-color:#71E8E8;" (click)="appstore()"><img src="./assets/imgs/005-버튼-PPT 3페이지의 이미지의 상단 우측-평가하기 별점주기.png" style="width:25px;"></button>
        <button style="background-color:#71E8E8;" (click)="regularShare()"><img src="./assets/imgs/006-버튼-PPT 3페이지의 이미지의 상단 우측-공유하기 점 세개.png" style="width:25px;"></button>
        <button style="background-color:#71E8E8;" (click)="setting()"><img src="./assets/imgs/007-버튼-PPT 3페이지의 이미지의 상단 우측-설정하기 톱니바퀴.png" style="width:25px;"></button>

    </div>

    <ion-segment class="tabstyle" (ionChange)="segmentChanged($event)" [(ngModel)]="tab">
        <ion-segment-button value="tab1" [ngClass]="tab=='tab1'?'view':'notview'">
            <span class="tab-font">즐겨찾는곳</span>
        </ion-segment-button>
        <ion-segment-button value="tab2" [ngClass]="tab=='tab2'?'view':'notview'">
            <span class="tab-font">쇼핑예정목록</span>
        </ion-segment-button>
        <ion-segment-button value="tab3" [ngClass]="tab=='tab3'?'view':'notview'">
            <span class="tab-font">인터넷에선 얼마?</span>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tab">
        <ion-list *ngSwitchCase="'tab1'">
            <div *ngIf="favoriteList.length == 0" style="margin-top:10%"><button style="background:white" (click)="main();"><img src="./assets/imgs/003-버튼-PPT 3페이지의 이미지의 정가운데-'랜딩화면' 다음에 나오는 화면의 '말+돋보기 버튼'.png"></button></div>
            <div *ngIf="favoriteList != 0">
                <div *ngFor="let i of favoriteList; let idx=index" class="border">
                    <button style="background-color:white" (click)="martview(i)">
                <table>
                    <thead>
                        <th style="text-align: left;" *ngFor="let a of logo;">
                            <img src="{{a.image}}" class="logoimage" style="height:10%; margin-right: 10px;" alt="">
                            <a style="margin:3px; font-size:17px; color: #808080;">{{a.name}}</a>
                        </th>
                        <th class="dayoffimg">
                            <img *ngIf="todayoff=='영업'" src="./assets/imgs/043-버튼-PPT 5페이지의 우측 이미지 영업 알림 버튼-오늘 영업.png" style="width:60%;">
                            <img *ngIf="todayoff=='휴무'" src="./assets/imgs/044-버튼-PPT 5페이지의 우측 이미지 영업 알림 버튼-오늘 휴무.png" style="width:60%;">

                            <button (click)="bookmark(i, idx)" style="width:40px; height:40px; background-color: white;">
                                <img class="heart" *ngIf="i.favorite==false" src="./assets/imgs/045-버튼-PPT 5페이지의 우측 이미지 즐겨찾기 하트 버튼-블랭크 하트(즐겨찾기전).png" style="width:100%;" alt="">
                                <img class="heart" *ngIf="i.favorite==true" src="./assets/imgs/046-버튼-PPT 5페이지의 우측 이미지 즐겨찾기 하트 버튼-노란 하트(즐겨찾기후).png" style="width:100%;" alt="">
                            </button>
                    </th>
                    </thead>
                    <tbody style="width:100%;">
                        <tr class="martname" style="font-weight: 900">
                            <span style="margin-bottom:10px">{{i.name}}</span>
                        </tr>
                    </tbody>
                    </table>
                    <table>
                        <tbody>
                            <tr class="datespan">
                                <td class="tabletd" style="margin-top:10px">{{today}}</td>
                                <!-- <span style="margin-top:10px;"></span> -->
                            </tr>
                            <tr class="datespan">
                                <td *ngFor="let i of weekarr" class="tabletd">
                                    <span>{{i.dayofweek}}</span>
                                </td>
                            </tr>
                            <tr class="datespan">
                                <td *ngFor="let i of weekarr" class="tabletd">
                                    <span>{{month}}/{{i.day}}</span>
                                </td>
                            </tr>
                            <tr class="datespan">
                                <td *ngFor="let m of i.dayoffarray" class="tabletd">
                                    <span *ngIf="m=='휴무'" class="mSpan1">{{m}}</span>
                                    <span *ngIf="m=='영업'" class="mSpan2">{{m}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </button>
                </div>
                <div class="borderr">
                    <button style="background-color:white; height:30%; margin-left:auto; margin-right:auto;" (click)="main();"><img style="width:55%"src="./assets/imgs/047-버튼-PPT 7페이지의 우측 이미지-말얼굴+돋보기.png" alt=""></button>
                </div>
            </div>
        </ion-list>
        <ion-list *ngSwitchCase=" 'tab2' ">
            <div class="topselector">
                <p>쇼핑 목록 만들기! 어디서 쇼핑하실 건가요?</p>
                <table style="margin: auto; text-align: center;">

                    <tbody>
                        <td>
                            <button style="background-color:#fff; " (click)="addlist('mart') "><img src="./assets/imgs/079-버튼-PPT 27페이지의 가운데 이미지-카트(마트).png " style="width:500px"></button>
                            <button style="background-color:#fff; color:rgb(88, 189, 207); font-size: 16px; font-weight: bold;" (click)="addlist('mart') ">마트</button>
                        </td>
                        <td>
                            <button style="background-color:#fff; " (click)="addlist('dep') "><img src="./assets/imgs/080-버튼-PPT 27페이지의 가운데 이미지-쇼핑백(백화점).png " style="width:500px"></button>
                            <button style="background-color:#fff; color:rgb(88, 189, 207); font-size: 16px; font-weight: bold;" (click)="addlist('dep') ">백화점</button>
                        </td>
                        <td>
                            <button style="background-color:#fff; " (click)="addlist('outlet') "><img src="./assets/imgs/081-버튼-PPT 27페이지의 가운데 이미지-보석+구두(아울렛).png " style="width:500px"></button>
                            <button style="background-color:#fff; color:rgb(88, 189, 207); font-size: 16px; font-weight: bold;" (click)="addlist( 'outlet') ">아울렛</button>
                        </td>
                        <td>
                            <button style="background-color:#fff; " (click)="addlist('etc') "><img src="./assets/imgs/081-버튼-PPT 27페이지의 가운데 이미지-etc(기타).png " style="width:500px"></button>
                            <button style="background-color:#fff; color:rgb(88, 189, 207); font-size: 16px; font-weight: bold;" (click)="addlist( 'etc') ">기타</button>
                        </td>
                    </tbody>
                </table>
            </div>
            <div *ngFor="let a of newarraylist " class="eachshopping ">
                <div class="listDB ">
                    <div class="segmentImg ">
                        <button style="background-color:#fff; " (click)="deleteDB(a) ">
                            <img src="assets/imgs/delete (1).png ">
                        </button>
                    </div>
                    <div class="segmentText ">
                        {{a.flag}}
                        <button style="background-color:#fff; " (click)="viewshoppinglist(a) ">
                            {{a.title}}
                        </button>
                    </div>
                    <div>
                        <button style="background-color:#fff;" (click)="viewshoppinglist(a) ">
                            {{a.time}}
                        </button>
                    </div>
                    <div>
                        {{a.totallist+"개 항목 중 "+a.totalchecked+"개 구입 "}}
                    </div>
                    <div>
                        <ion-fab>
                            <button ion-fab mini><ion-icon name="add"></ion-icon></button>
                            <ion-fab-list side="bottom">
                                <button (click)="changeName(a)" ion-fab>
                                    <ion-icon name="list"></ion-icon>
                                    <ion-label>목록명 변경</ion-label>
                                </button>
                                <button (click)="share(a)" ion-fab>
                                    <ion-icon name="share"></ion-icon>
                                    <ion-label>공유</ion-label>
                                </button>
                                <button (click)="deleteDB(a)" ion-fab>
                                    <ion-icon name="trash"></ion-icon>
                                    <ion-label>삭제</ion-label>
                                </button>
                                <button (click)="openModal(a)" ion-fab>
                                    <ion-icon name="copy"></ion-icon>
                                    <ion-label>복사</ion-label>
                                </button>
                            </ion-fab-list>
                        </ion-fab>
                    </div>
                </div>
            </div>

            <!-- <div><button style="background-color:#fff; " (click)="addlist() ">(image)쇼핑 리스트를 추가해보자라는 말</button></div> -->

        </ion-list>
        <ion-list *ngSwitchCase="'tab3'">

            <div>
                <select style="display:inline-block; width:25%;" id='slt' name="sor ">
                    <option value="rel" selected="selected">랭킹순</option>
                    <option value="price_asc">낮은 가격순</option>
                    <option value="price_dsc">높은 가격순</option>
                    <option value="date">등록순</option>
                    <option value="review">리뷰 많은순</option>
                </select>

                <ion-input style="margin-right: 0px; width: 60%; display: inline-block; border: 1px solid black;" name='text' type="text" [(ngModel)]='srct.text' placeholder="검색어를 입력해 주세요.">
                </ion-input>

                <button ion-button style="float: right; width:30px; height: 30px;" color="black" outline icon-only (click)='select_sort()'>

                    <ion-icon name='search' is-active="false"></ion-icon>
                </button>
            </div>
        </ion-list>

    </div>

</ion-content>