page-home {
    .scroll-content {
        padding: 0px !important;
    }
    .btnup {
        height: 30px;
        margin-top: 20px;
        width: 30px;
        margin: auto;
        /* padding: 10px; */
        border: solid 1px;
        background: white;
        margin-top: 15px !important;
    }
}

select {
    width: auto;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(120, 247, 247);
    //-webkit-appearance: none;/* 네이티브 외형 감추기 */ 
    //-moz-appearance: none; 
    //appearance: none; 
    //background: url() no-repeat 95% 50%;/* 화살표 모양의 이미지 */ 
}


/* IE 10, 11의 네이티브 화살표 숨기기 */

select::-ms-expand {
    display: none;
}

.topselector {
    width: 350px;
    height: 120px;
    border: solid 2px rgb(120, 247, 247);
    border-radius: 5px;
    /*[위][오른쪽][아래][왼쪽]*/
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
}

.button {
    text-align: center;
    position: relative;
    z-index: 0;
    text-overflow: ellipsis;
    white-space: nowrap; //white-space: 연속된 공백 처리
    background-color: #ffffff;
    transition: background-color, opacity 100ms linear;
    font-kerning: none;
    user-select: none;
    contain: content;
    width: 25%;
    height: 60px;
    opacity: 1;
    float: left;
}

img {
    vertical-align: middle;
}

p {
    font-weight: bold;
    text-align: center;
    color: #5AD7ED;
}

.listDB {
    width: 350px;
    height: 50px;
    border: solid 2px rgb(120, 247, 247);
    border-radius: 5px;
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
}

div.segmentImg {
    position: relative;
    vertical-align: middle;
    width: 40px;
    height: 31px;
    top: 0px;
    left: 0px;
    float: left;
}

img.imgindiv {
    display: inline-block;
    vertical-align: middle;
}

div.segmentText {
    position: relative;
    top: 0px;
    width: 100px;
    height: auto;
    float: left;
}