page-copymodal2 {}

.place {
    position: fixed;
    bottom: 10px;
    right: 60px;
    background-color: rgb(240, 240, 240);
    color: #008cff;
    font-size: 14px;
}

.place2 {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: rgb(240, 240, 240);
    color: #008cff;
    font-size: 14px;
}