page-rate {
    
}

#app-assessment-image{
    margin: 0;
    background: yellow;
    display: inline-block;
    width: 100%;
    height: 70%;
}

#btn-option button{
    padding: 10% 10%;
    margin: 0;
    background: rgb(242,242,242);
    outline: none;
    color: rgb(0,0,0);
    font-weight: 800;
    font-size: 20px;
}