page-rate {
    
}

#app-assessment-image{
    display: inline-block;
    position: relative;
    background-image: url(../../assets/imgs/horse.jpeg);
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    width: 50%;
    left: 25%;
    height: 70%;
}

#btn-option button{
    padding: 10% 10%;
    margin: 0;
    background: rgb(242,242,242);
    outline: none;
    color: rgb(0,0,0);
    font-weight: 800;
    font-size: 20px;
}