<ion-header>
    <ion-navbar>
        <ion-title>{{a.title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col col-7>
            {{a.time}}
        </ion-col>
        <ion-col col-5>
            <button (click)="insertData()">수정</button><button (click)="save()">저장</button><button (click)="delete($event)">삭제</button><button (click)="sortlist()">정렬</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-8>
            <span *ngIf="flag==false">{{totalnumber}}개 중 {{selected}}개 선택</span>
            <span *ngIf="flag==true">{{totalnumber}}개</span>
        </ion-col>
        <ion-col col-4>
            ₩{{printsum}}
        </ion-col>
    </ion-row>
    <div class="main">
        <ion-item *ngFor="let att of a.list; let idx = index">
            <ion-icon *ngIf="flag==true" name="close"></ion-icon>
            <ion-checkbox [(ngModel)]="att.checked" style="z-index: 999999;" (ionChange)="addValue($event)" *ngIf="flag==false" color="dark" slot="start"></ion-checkbox>
            <ion-input text-center style="width: 20%;float: left;" placeholder="상품명" [(ngModel)]="a.list[idx].name"></ion-input>
            <ion-input text-center style="width: 20%;float: right;" placeholder="수량" [(ngModel)]="a.list[idx].quantity"></ion-input>
            <ion-input text-center style="width: 20%;float: right;" placeholder="가격" [(ngModel)]="a.list[idx].price"></ion-input>
        </ion-item>
    </div>
    <div style="bottom: 50px;width: 100%;" class="bottom">
        <ion-input *ngIf="flag!=false" style="width: 65%;border-bottom: solid 1px;float: left;" [(ngModel)]="adding" placeholder="품목을 입력하세요."></ion-input>
        <button *ngIf="flag!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-left: 4px;" (click)="speeching()">음성</button>
        <button *ngIf="flag!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-top: 5px;margin-left: 3px;" (click)="add()">추가하기</button>
        <button *ngIf="flag!=false&&flagInput==false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;" (click)="priceandquantity()">가격 및 수량도 입력하기</button>
        <ion-input *ngIf="flagInput!=false" style="width: 34%; height: 3.5rem; border-bottom: solid 1px; float: left; margin-right: 2px; margin-left:2px;" [(ngModel)]="quantity" placeholder="수량"></ion-input>
        <ion-input *ngIf="flagInput!=false" style="width: 34%; height: 3.5rem; border-bottom: solid 1px; float: left; margin-left: 2px; margin-right:5px;" [(ngModel)]="price" placeholder="가격"></ion-input>
        <button *ngIf="flagInput!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-top: 3px;margin-left: 10px;" (click)="cancel()">취소</button>


        <!-- <button *ngIf="flagInput!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-top: 5px;margin-left: 4px;" (click)="cancel()">취소</button> -->
        <!-- <button *ngIf="flagInput!=false" style="width:15%; height: 4rem;background: transparent;border:soild 1px;border-radius:7px;margin-left:10px;margin-top:5px;" (click)="cancel()">취소</button> -->
    </div>
    <!--기능 구현 X-->
    <div class="container">
        <a href="#" class="buttons" tooltip="가나다순 정렬">
            <i class="ion-logo-game-controller-a"></i>
        </a>

        <a href="#" class="buttons" tooltip="수정하기">
            <i class="ion-logo-game-controller-a"></i>
        </a>

        <a href="#" class="buttons" tooltip="삭제하기">
            <i class="delete($event)"></i>
        </a>

        <a href="#" class="buttons" tooltip="취소">
            <i class="ion-logo-game-controller-a"></i>
        </a>

        <a class="buttons" href="#">
            <i class="ion-logo-game-controller-a"></i>
        </a>

        <!-- <ion-fab bottom right edge>
            <button ion-fab mini><ion-icon name="add"></ion-icon></button>
            <ion-fab-list side="top">
                <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
                <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
            </ion-fab-list>
            </ion-fab> -->
    </div>

</ion-content>