page-viewshoppinglist {
    ion-list {
        overflow-y: scroll;
    }
}

button[ion-fab] {
    overflow: visible;
    position: relative;
    ion-label {
        position: absolute;
        top: -5px;
        right: 40px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        line-height: 20px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 11px;
    }
    contain: layout;
}