page-viewshoppinglist {
    ion-list {
        overflow-y: scroll;
    }
}

button[ion-fab] {
    overflow: visible;
    position: relative;
    ion-label {
        position: absolute;
        top: -5px;
        right: 40px;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        line-height: 20px;
        padding: 4px 8px;
        border-radius: 4px;
        font-size: 11px;
    }
    contain: layout;
}

.item-cover {
    left: 0;
    top: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    background: transparent;
    cursor: pointer;
}

.button {
    border-radius: 4px;
}

.saveButton {
    border-radius: 4px;
    border: solid 2px #01DFD7;
    background-color: #9FFAFA;
    width: 45px;
    height: 30px;
    font-size: 15px;
}

.main {
    border: solid 2px #D8D8D8;
    background-color: #FAFAFA;
    height: 15px;
    margin-top: 2px;
}