<ion-header>
    <ion-navbar>
        <ion-title>{{a.title}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col col-9>
            {{a.time}}
        </ion-col>
        <ion-col col-3>
            <button (click)="save()">저장</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-8>
            <span *ngIf="flag==false">{{totalnumber}}개 중 {{selected}}개 구입</span>
            <span *ngIf="flag==true">{{totalnumber}}개</span>
        </ion-col>
        <ion-col col-4>
            ₩{{printsum}}
        </ion-col>
    </ion-row>
    <div class="main">
        <ion-item *ngFor="let att of a.list; let idx = index">
            <ion-icon *ngIf="flag==true" name="close"></ion-icon>
            <ion-checkbox [(ngModel)]="att.checked" style="z-index: 999999;" (ionChange)="addValue($event)" *ngIf="flag==false" color="dark" slot="start"></ion-checkbox>
            <ion-input text-center style="width: 20%;float: left;" placeholder="상품명" [(ngModel)]="a.list[idx].name"></ion-input>
            <ion-input text-center style="width: 10%;float: left;" placeholder="수량" [(ngModel)]="a.list[idx].quantity"></ion-input>
            <ion-input text-center style="width: 15%;float: left;" placeholder="가격" [(ngModel)]="a.list[idx].price"></ion-input>
            <button ion-button outline item-end style="width:10%;" (click)="select_sort(idx)"><ion-icon name='search' is-active="false"></ion-icon></button>
        </ion-item>
    </div>

    <div style="bottom: 50px;width: 100%;" class="bottom">
        <ion-input *ngIf="flag!=false" style="width: 65%;border-bottom: solid 1px;float: left;" [(ngModel)]="adding" placeholder="품목을 입력하세요."></ion-input>
        <button *ngIf="flag!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-left: 4px;" (click)="speeching()">음성</button>
        <button *ngIf="flag!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-top: 5px;margin-left: 3px;" (click)="add()">추가하기</button>
        <button *ngIf="flag!=false&&flagInput==false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;" (click)="priceandquantity()">가격 및 수량도 입력하기</button>
        <ion-input *ngIf="flagInput!=false" style="width: 34%; height: 3.5rem; border-bottom: solid 1px; float: left; margin-right: 2px; margin-left:2px;" [(ngModel)]="quantity" placeholder="수량"></ion-input>
        <ion-input *ngIf="flagInput!=false" style="width: 34%; height: 3.5rem; border-bottom: solid 1px; float: left; margin-left: 2px; margin-right:5px;" [(ngModel)]="price" placeholder="가격"></ion-input>
        <button *ngIf="flagInput!=false" style="height: 3.5rem;background: transparent;border: solid 1px;border-radius: 7px;margin-top: 3px;margin-left: 10px;" (click)="cancel()">취소</button>
    </div>
</ion-content>

<ion-footer>
    <div>
        <ion-fab bottom right #fab>
            <button ion-fab mini><ion-icon name="add"></ion-icon></button>
            <ion-fab-list side="top">
                <button (click)="sortlist(fab)" ion-fab>
                    <ion-icon name="list"></ion-icon>
                    <ion-label>이름순으로 정렬</ion-label>
                </button>
                <button (click)="insertData(fab)" ion-fab>
                    <ion-icon name="build"></ion-icon>
                    <ion-label>수정하기</ion-label>
                </button>
                <button (click)="delete(fab)" ion-fab>
                    <ion-icon name="trash"></ion-icon>
                    <ion-label>삭제하기</ion-label>
                </button>

            </ion-fab-list>
        </ion-fab>
    </div>
</ion-footer>