<ion-content>
    <div style="background-color: #71E8E8; display:flex;">
        <button class="goback" (click)="backbutton()"><img src="./assets/imgs/064-버튼-PPT 19페이지의  우측 이미지-뒤로가기 화살표.png" style="width:30px; margin:5px;" alt=""></button>
        <span style="color:white; font-size:18px; font-weight: 900; margin-top:11px; margin-left:10px;">{{title}}</span>
        <button ion-button *ngIf="delflag==true" style="float:right; border-radius: 4px; width:45px; height:30px; background-color:#01DFD7; border:2px solid; border-color:#01DFD7; margin-left:140px;" (click)="del2()">확인</button>
        <button ion-button *ngIf="delflag==true" style="float:right; border-radius: 4px; width:45px; height:30px; background-color:#01DFD7; border:2px solid; border-color:#01DFD7; " (click)="delcancle()">취소</button>
    </div>
    <ion-item-divider color="light" style="height: 40px;"><img src="{{img}}" style="width:60px; margin-right:10px;">
        <img *ngIf="value=='mart'" src="./assets/imgs/079-버튼-PPT 27페이지의 가운데 이미지-카트(마트).png" style="width:30px;" alt="">
        <img *ngIf="value=='dep'" src="./assets/imgs/080-버튼-PPT 27페이지의 가운데 이미지-쇼핑백(백화점).png" style="width:30px;" alt="">
        <img *ngIf="value=='outlet'" src="./assets/imgs/081-버튼-PPT 27페이지의 가운데 이미지-보석+구두(아울렛).png" style="width:30px;" alt="">
        <img *ngIf="value=='dep'" src="./assets/imgs/081-버튼-PPT 27페이지의 가운데 이미지-etc(기타).png" style="width:30px;" alt="">

        <span style="color:rgb(88, 189, 207); font-size:15px; font-weight: bold;">
            <!--{{nowtime}}-->
            {{fullyear}}년 {{month}}월 {{date}}일
        </span>
        <button class="saveButton" (click)="save()">저장</button>
    </ion-item-divider>

    <ion-row style="margin-top:6px; margin-left:auto; margin-right:auto; background-color:rgb(194, 243, 250); width:80%;border-radius: 6px;">
        <ion-col col-8>
            <span *ngIf="flag==false" style="color: #42B8B8; font-size:15px; font-weight: 900;">{{totalnumber}}</span>
            <span *ngIf="flag==true" style="color: #42B8B8; font-size:15px; font-weight: 900;">{{totalnumber}}개 중 {{selected}}개 구입</span>

        </ion-col>
        <ion-col col-4>
            <span style="color: #42B8B8; font-size:15px; font-weight: 900;">₩{{printsum}}</span>
        </ion-col>
    </ion-row>
    <div class="main" *ngIf="addinglist.length!=0">
        <ion-item *ngFor="let att of addinglist; let idx = index">
            <button class="btntest" (click)="del(addinglist[idx])" style=" background-color: white; width:30px; height:30px; ">
                <img *ngIf="att.checked2==true" style="width:25px; height:25px " src="./assets/imgs/094-버튼-PPT 54페이지의 가운데 이미지-휴지통 뚜껑 열린거.png " alt=" ">
                <img *ngIf="att.checked2==false" style="width:25px; height:25px " src="./assets/imgs/087-버튼-PPT 32페이지의 좌측 이미지-휴지통 뚜껑 닫힌거.png " alt=" ">
            </button>
            <input type="text" style="width: 30%; font-size:15px; border: none " placeholder="상품명 " [(ngModel)]="addinglist[idx].name ">
            <input type="text" style="text-align:center; width: 10%; font-size:15px; border: none " placeholder="수량 " [(ngModel)]="addinglist[idx].quantity ">
            <input type="text" style="text-align:center; width: 30%; font-size:15px; border: none " placeholder="가격 " [(ngModel)]="addinglist[idx].price ">
            <button style="width:15%; background-color:#fff " (click)="select_sort(idx) ">
                <img src="./assets/imgs/088-버튼-PPT 32페이지의 좌측 이미지-인터넷 지구+돋보기.png ">
            </button>
        </ion-item>
    </div>
    <div style="margin-left:10px; position: absolute;bottom: 70px;width: 100%;" class="bottom">
        <ion-input *ngIf="flag!=true" style="color:#808080; width: 63%; border-bottom-color:rgb(74, 190, 190); border-bottom: solid 1px;float: left;" [(ngModel)]="adding" placeholder="품목을 입력하세요."></ion-input>
        <button *ngIf="flag!=true" style="height: 3.5rem;background: transparent;border-radius: 7px;margin-top: 5px;margin-left: 10px;" (click)="speeching()">
            <img src="./assets/imgs/086-버튼-PPT 31페이지의 가운데 이미지-녹음 마이크.png" style="width:30px;" alt="">
        </button>
        <button *ngIf="flag!=true" style="height: 40px;background-color:#71E8E8;border-radius: 7px;margin-top: 5px;margin-left: 3px;" (click)="add()">추가하기</button>
        <div *ngIf="flag!=true&&flagInput==false" class="inputprice">
            <img *ngIf="flag!=true&&flagInput==false" src="./assets/imgs/084-버튼-PPT 31페이지의 가운데 이미지-점3개-회전1단계(시작).png " style="width:30px; " alt=" ">
            <span *ngIf="flag!=true&&flagInput==false" style="color:rgb(74, 190, 190); font-size:14px; font-weight: bold;" (click)="priceandquantity()">가격 및 수량도 입력하기</span>

        </div>
        <div>
            <button *ngIf="flagInput!=false" style="height: 3.5rem;background-color:#71E8E8;border-radius: 7px; margin-top: 3px;margin-left: 10px;" (click)="cancel()">상세취소</button>
            <ion-select [(ngModel)]="number" *ngIf="flagInput!=false" style="color:#808080; width: 34%; height: 4rem; border-bottom: solid 1px; float: left; margin-right: 2px; margin-left:2px;" [(ngModel)]="quantity" placeholder="수량">
                <ion-option>1</ion-option>
                <ion-option>2</ion-option>
                <ion-option>3</ion-option>
                <ion-option>4</ion-option>
                <ion-option>5</ion-option>
                <ion-option>6</ion-option>
                <ion-option>7</ion-option>

            </ion-select>

            <ion-input *ngIf="flagInput!=false" style="color:#808080; width: 34%; height: 4rem; border-bottom: solid 1px; float: left; margin-left: 2px; margin-right:5px;" [(ngModel)]="price" placeholder="가격"></ion-input>
        </div>
    </div>

</ion-content>