<ion-content id="main-view">
  
  <div id="main-modal">
    <div id="ad-buy-image">
      <span>image 광고없는 프리미엄</span>
    </div>
    
    <div id="select-button">
      <div *ngFor="let opt of option; let i = index">

        <button ion-button (click)="clickbutton(i)"
          [ngClass]="select_option===i?'B_on':'B_off'"
          *ngIf="more_info||(i==0||i==3)">
          {{opt.price}}원
          <br>
          {{opt.text}}
        </button>
      </div>
    </div>

    <div id="menu-button">
      <button ion-button *ngIf="more_info===false" (click)="add_menu()">
        더 많은 정보 보기
      </button>
      <button ion-button *ngIf="more_info===true" (click)="dismiss()">
        닫기
      </button>

      <button ion-button (click)="purchase()">
        OK계속하기
      </button>
    </div>
  </div>
</ion-content>