#main-view{
    background-color: rgb(242,242,242);
    border: 1px solid rgb(49,185,193);
    border-radius: 10px;
    height: 60%;
    width:96%;
    top: 26%;
    left:2%;
    position: absolute;
}

#ad-buy-image{
    position: relative;
    width: 60%;
    height: 200px;
    right: -20%;
    top: 10px;
    display: inline-block;
    background: yellow;
}

#all-button{
    position: relative;
    right: -5%;
    top: 10px;

    width: 130%;
    height: 40%;
}

.B_on{
//background-color: mediumaquamarine;
    border: 5px solid rgb(16,226,226);
    background: rgb(121,162,162);
    display: inline-block;
}

.B_off{
    border: 5px solid transparent;
    background: rgb(121,162,162);
    display: inline-block;
}