<ion-header>
  <ion-navbar>
    <ion-title id="head-style">설정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-icon name="information-circle"></ion-icon>
        <span>버전정보 Ver : {{version}}</span>
      </ion-item>
      
      <ion-item (click)="evaluation()">
        <ion-icon name="star"></ion-icon>
        <span>앱 평가하기</span>
      </ion-item>

      <ion-item (click)="license()">
        <ion-icon name="book"></ion-icon>
        <span>오픈소스 라이센스</span>
      </ion-item>

      <ion-item (click)="email()">
        <ion-icon name="mail"></ion-icon>
        <span>개발자 문의하기</span>
      </ion-item>

      <ion-item>
        <div (click)="toggleGroup()">
          <ion-icon name="alarm"></ion-icon>
          <span>푸시 알람 설정</span>
          <ion-icon item-right [name]="shownGroup===true ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
        </div>

        <div *ngIf="shownGroup">
          <div>즐겨 찾기 한 매장의 휴무일 푸쉬 알림 받기</div>
          <div class="test" *ngFor="let button of buttontoggle; let i = index">
            <button ion-button (click)="clickButton(i)" [ngClass]="button.check===true?'B_on':'B_off'" style="width: 20%; display: inline-block;">
              {{button.name}}
            </button>
          </div>

          <div ng-if="checkbutton()===true">
            <ion-item>
              <ion-label>Time</ion-label>
              <ion-datetime displayFormat="h:mm A" pickerFormat="h,mm,A" [(ngModel)]="DateTime">
              </ion-datetime>
            </ion-item>
          </div>

          <button ion-button (click)="alarmcheck()" style="background: lightgray;">완료</button>
        </div>
      </ion-item>
      
      <ion-item>
        <ion-icon name="finger-print" (click)="privacy()"> 개인정보 취급방침</ion-icon>
      </ion-item>

    </ion-list>
</ion-content>
<!-- mbsc-col-sm-12 mbsc-col-md-6 -->