page-setting{

}

#head-style{
  //background: rgb(120, 247, 247);
}

.B_on{
  //background-color: mediumaquamarine;
  background-color: rgb(114,174,252);
}

.B_off{
  background-color: lightgray;
}

.space{
  width: 200px;
  height: 200px;
  background: yellow;
  display: inline-block;
}

#date-time{
  
}