<ion-header>
  <ion-navbar>
    <ion-title>설정</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-icon name="information-circle"></ion-icon>
        버전정보 Ver : {{version}}
      </ion-item>
      
      <ion-item>
        <ion-icon name="star" (click)="evaluation()"> 앱 평가하기</ion-icon>
      </ion-item>

      <ion-item>
        <ion-icon name="book" (click)="license()"> 오픈소스 라이센스</ion-icon>
      </ion-item>

      <ion-item>
        <ion-icon name="mail" (click)="email()"> 개발자 문의하기</ion-icon>
      </ion-item>

      <ion-item>
        <button (click)="toggleGroup()" >
          <h3>
            <ion-icon name="alarm"> 푸시 알람 설정</ion-icon>
            <ion-icon color="success" item-right [name]="shownGroup===true ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
          </h3>
        </button>

        <div *ngIf="shownGroup">
          즐겨 찾기 한 매장의 휴무일 푸쉬 알림 받기
          <div></div>
          <a class="test" *ngFor="let button of buttontoggle; let i = index">

            <button ion-button (click)="clickButton(i)" [ngClass]="button.check===true?'B_on':'B_off'">
              {{button.name}}
            </button>
            
          </a>
          <div></div>
          <!-- <div>
            <a *ngFor="let button of buttontoggle; let i = index">

              <a [ngSwitch]="button.check">
                <a *ngSwitchCase="true">
                  <button ion-button (click)="clickButton(i)"
                      style="background-color: mediumaquamarine;">{{button.name}}</button>
                </a>

                <a *ngSwitchCase="false">
                  <button ion-button (click)="clickButton(i)"
                      style="background-color: lightgray;">{{button.name}}</button>
                </a>
              </a>
            </a>
          </div> -->
          
          <button ion-button (click)="alarmcheck()">완료</button>
        </div>
      </ion-item>
      
      <ion-item>
        <ion-icon name="finger-print" (click)="privacy()"> 개인정보 취급방침</ion-icon>
      </ion-item>

    </ion-list>
</ion-content>